<td><%= link_to "#{apartment_complex.apartment_complex_name}", apartment_complex_path(apartment_complex.id) %></td>
<td><%= apartment_complex.location.state %></td>
<td><%= apartment_complex.location.city %></td>
<td><%= apartment_complex.location.zip_code %></td>
<td><%= apartment_complex.address %></td>
