<!DOCTYPE html>
<html>
  <head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>




    <!-- Custom styles for this template -->
    <%= stylesheet_link_tag "grayscale.css" %>

<style>
h4
{
  color:white;
}

.pad{
  padding-left: 5%;

}
table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,  th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

    .green {
    position: absolute;
    padding-right: 25%;



}
</style>
</head>
<!-- If the current user is the tenant that is being shown or the admin then it will give them a mini dbms to find their renters and rate them -->
<!--

-->

<%if current_user.id.to_i == @tenant.user.id.to_i || current_user.try(:admin?) %>
<body id="page-top">

<header class="masthead">

<div align = "center">
<br>
<br>
<br>
<br>
<br>

<h1>Apartment Complex </h1>
<table>
  <tbody>
    <th>Name</th>
    <th>State</th>
    <th>City</th>
    <th>Zip Code</th>
    <th>Address</th>
    <% @tenant.apartment_complexes.each do |ac| %>
      <tr>
         <%= render "tenant_apartment_complex_show", apartment_complex: ac %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</body>
</header>

<!-- The normal user view will go here and show the tenants public info with the ability to rate them if the current user
      is renting from the tenant -->
<%else%>
  <body id="page-top">

  <header class="masthead">

    <br>
    <br>
    <br>

  <div align = "center-left">
  <div class ="pad">
  <p id="notice"><%= notice %></p>
    <!-- user with image -->
    <% if !@tenant.user.user_picture.blank? %>
      <%= image_tag(@tenant.user.user_picture.url(:original), :size => "200x200") %>


  <% else @tenant.user.user_picture.blank? %>
    <%= image_tag "blankProfile.png", :size => "200x200" %>
  <%end%>


    </div>
    <div>
    <p>
      <h4><strong>Name:</strong>
      <%= @tenant.first_name %>&nbsp<%= @tenant.last_name %></h4>
    </p>
  </div>
  <form align = "center">

<!-- HERE GOES THE RATING SYSTEM -->

  </form>
</div>


 <!-- The users that this user has been rated by will show here -->
                      <div class="form-group">
                        <label for="Rating"><h4>Overall Rating: <%= Rating.avg_rating(@tenant.user) %> </h4></label><br/>
                          <% Rating.rated_by_users(@tenant.user).each do |r| %>
                          <div class="col-xs-6">
                                <% user = User.find(r.user1_id) %>
                                <%if(!user.renter.blank?) %>
                                <label for="Rating"><h4>Rated by: <%= user.renter.first_name + " " + user.renter.last_name  %> </h4></label><br/>
                              <%end%>
                              <%if(!r.rating.blank?) %>
                                <label for="Rating"><h4>Rating: <%= r.rating %> </h4></label><br/>
                              <%end%>
                              <%if(!r.description.blank?) %>
                                <label for="Rating"><h4>Description: <%= r.description %> </h4></label><br/>
                              <%end%>
                          </div>

                         <% end %>
                      </div>





  </div>
</body>
</header>
<% end %>

</html>
