<p id="notice"><%= notice %></p>

<p>
  <strong>Apartmentid:</strong>
  <%= @tenant.apartmentID %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @tenant.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @tenant.lastName %>
</p>

<%= link_to 'Edit', edit_tenant_path(@tenant) %> |
<%= link_to 'Back', tenants_path %>
