<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



    <!-- Custom styles for this template -->
    <%= stylesheet_link_tag "grayscale.min.css" %>

<style>
.pad{
  padding-left: 5%;

}
table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,  th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

    .green {
    position: absolute;
    padding-right: 25%;



}
</style>

<!-- If the current user is the tenant that is being shown or the admin then it will give them a mini dbms to find their renters and rate them -->
<!--

-->

<%if current_user.id.to_i == @tenant.user.id.to_i || current_user.try(:admin?) %>
<body id="page-top">

<header class="masthead">
<div align = "center">
<br>
<br>
<br>
<br>
<br>

<h1>Apartment Complex </h1>
<table>
  <tbody>
    <th>Name</th>
    <th>State</th>
    <th>City</th>
    <th>Zip Code</th>
    <th>Address</th>
    <% @tenant.apartment_complexes.each do |ac| %>
      <tr>
         <%= render "tenant_apartment_complex_show", apartment_complex: ac %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<!-- The normal user view will go here and show the tenants public info with the ability to rate them if the current user
      is renting from the tenant -->
<%else%>
  <body id="page-top">

  <header class="masthead">

    <br>
    <br>
    <br>

  <div align = "center-left">
  <div class ="pad">
  <p id="notice"><%= notice %></p>
  <% if @tenant.user.user_picture.blank? %>
    <%= image_tag "blankProfile.png", :size => "200x200" %>
  <%end if %>

  <!-- user with image -->
    <% if !@tenant.user.user_picture.blank? %>
      <%= image_tag(@renter.user.user_picture.url(:original), :size => "200x200") %>
    <%end if %>
    <p>
      <strong>Firstname:</strong>
      <%= @tenant.first_name %><br>
      <strong>Lastname:</strong>
      <%= @tenant.last_name %>
    </p>
  </div>
  <form align = "center">

  <p><strong>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspRate Tenant:
<select name="thelist" onChange="combo(this, 'theinput')">
<option>1</option>
<option>2</option>
<option>3</option>
<option>4</option>
<option>5</option>
<option>6</option>
<option>7</option>
<option>8</option>
<option>9</option>
<option>10</option>

</select> </strong>
&nbsp&nbsp&nbsp&nbsp
<strong>
Review Note: <textarea rows="4" cols="35"></textarea></strong></p>

    <input type="submit" value="SUBMIT">
  </form>
</div>






  </body>
  </header>
  </div>
<% end %>
