<html>
<%= stylesheet_link_tag "grayscale.css" %>
<style>
hr{
  color:white;
}
button{

  color:black;
  background-color:white;
}
label
{
  color:white;
}

h2
{
  color:white;
}

.pad{
  padding-left: 5%;

}
table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,  th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}
tr:nth-child(odd){background-color: lightgray;}

tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

    .green {
    position: absolute;
    padding-right: 25%;



}
</style>
<body id="page-top">

<header class="masthead">
<p id="notice"><%= notice %></p>
</br>
<h1>Renters</h1>
<%= form_tag renters_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>



<table>
  <thead>
    <div class="container bootstrap snippet">
        <div class="row">
      		<div class="col-sm-10">
    <tr>
      <div class="row">
        <div class="col-sm-10">
        <th>Full Name</th> 
        <th>Apartment Complex</th>
        <th>Leasing</th>
          </tr>
  </div>
</div>
</div>

  </thead>


  <tbody>
    <% @renters.each do |renter| %>
        <tr>
          <td><%= link_to "#{renter.first_name} #{renter.last_name}", renter_path(renter.id) %></td>
          <td><%= renter.apartment.apartment_complex.apartment_complex_name %></td>
          <td><%= renter.leasing %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>
</body>

  </header>
</html>
