<!DOCTYPE html>
<html>
  <head>


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



    <!-- Custom styles for this template -->
    <%= stylesheet_link_tag "grayscale.css" %>

<style>
hr{
  color:white;
}
button{

  color:black;
  background-color:white;
}
label
{
  color:white;
}

h2
{
  color:white;
}

.pad{
  padding-left: 5%;

}
table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,  th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

    .green {
    position: absolute;
    padding-right: 25%;



}

</style>
<!------ Include the above in your HEAD tag ---------->
</head>

<body id="page-top">
<header class="masthead">


<br/>
<br/>
<br/>


<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h1><%= @renter.first_name %> <%= @renter.last_name %></h1></div>
    	    </div>
    <div class="row">
  		
<div class="col-sm-3"><!--left col-->
        <!-- user with image -->
        <% if !@renter.user.user_picture.blank? %>
          <%= image_tag(@renter.user.user_picture.url(:original), :size => "200x200") %>
        <%end if %>
      <!-- user with no image -->
      <% if @renter.user.user_picture.blank? %>
        <%= image_tag "blankProfile.png", :size => "200x200" %>
      <%end if %>


</div><br>



        </div><!--/col-3-->
    	<div class="col-sm-9">

          <div class="tab-content">
            <div class="tab-pane active" id="home">
                <hr>

                      <div class="form-group">

                          <div class="col-xs-6">
                              <label for="full_name"><h4>Name: <%= @renter.first_name %> <%= @renter.last_name %></h4></label>

                          </div>
                      </div>
                      <div class="form-group">

                          <div class="col-xs-6">
                            <label for="Address"><h4>Address: <%= @renter.apartment.apartment_complex.address %></h4></label>
                                                        </div>
                      </div>
                      <!-- The users that this user has been rated by will show here -->
                      <div class="form-group">
                        <label for="Rating"><h4>Overall Rating: <%= Rating.avg_rating(@renter.user) %> </h4></label><br/>
                          <% Rating.rated_by_users(@renter.user).each do |rating| %>
                          <div class="col-xs-6">
                                <% user = User.find(rating.user1_id) %>
                                <%if(!user.tenant.blank?) %>
                                <label for="Rating"><h4>Rated by: <%= user.tenant.first_name + " " + user.tenant.last_name  %> </h4></label><br/>
                              <%end%>
                              <%if(!rating.rating.blank?) %>
                                <label for="Rating"><h4>Rating: <%= rating.rating %> </h4></label><br/>
                              <%end%>
                              <%if(!rating.description.blank?) %>
                                <label for="Rating"><h4>Description: <%= rating.description %> </h4></label><br/>
                              <%end%>
                          </div>

                         <% end %>
                      </div>
                      <!-- The users that have been rated by this user will show here -->
                      <div class="form-group">
                        <% Rating.rated_users(@renter.user).each do |rating| %>
                          <div class="col-xs-6">
                                <% user = User.find(rating.user2_id) %>
                                <%if(!user.tenant.blank?) %>
                                <label for="Rating"><h4>Rated: <%= user.tenant.first_name + " " + user.tenant.last_name  %> </h4></label><br/>
                              <%end%>
                              <%if(!rating.rating.blank?) %>
                                <label for="Rating"><h4>Rating: <%= rating.rating %> </h4></label><br/>
                              <%end%>
                              <%if(!rating.description.blank?) %>
                                <label for="Rating"><h4>Description: <%= rating.description %> </h4></label><br/>
                              <%end%>
                          </div>

                         <% end %>
                      </div>
              </div>

              </div><!--/tab-pane-->
          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->
</section>
                 

  </body>
</header>
</html>
