<!DOCTYPE html>
<html>
  <head>


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



    <!-- Custom styles for this template -->
    <%= stylesheet_link_tag "grayscale.css" %>

<style>
hr{
  color:white;
}
button{

  color:black;
  background-color:white;
}
label
{
  color:white;
}

h2
{
  color:white;
}

.pad{
  padding-left: 5%;

}
table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,  th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

    .green {
    position: absolute;
    padding-right: 25%;



}

</style>
<!------ Include the above in your HEAD tag ---------->
</head>

<body id="page-top">
<header class="masthead">


<br/>
<br/>
<br/>


<div class="container bootstrap snippet">




                <br>



        <!--/col-3-->
    	<div class="col-sm-9">

          <div class="tab-content">
            <div class="tab-pane active" id="home">

                <% if !@renter.user.user_picture.blank? %>
                  <%= image_tag(@renter.user.user_picture.url(:original), :size => "200x200") %>
                <% else @renter.user.user_picture.blank? %>
                    <%= image_tag ("blankProfile.png"), :size => "200x200" %>
                <%end%>






                      <div class="form-group">
                        <br>
                        <h4 style = "color:white;">Name: <%= @renter.first_name %> <%= @renter.last_name %></h4></div>
                          <div class="col-xs-6">
                            <label for="Address"><h4>Address: <%= @renter.apartment.apartment_complex.address %></h4></label>
                                                        </div>
                      </div>
                      <!-- The users that this user has been rated by will show here -->
                      <div class="form-group">
                        <label for="Rating"><h4>Overall Rating: <%= Rating.avg_rating(@renter.user) %> </h4></label><br/>
                          <% Rating.rated_by_users(@renter.user).each do |rating| %>
                          <div class="col-xs-6">
                                <% user = User.find(rating.user1_id) %>
                                <%if(!user.tenant.blank?) %>
                                <label for="Rating"><h4>Rated by: <%= user.tenant.first_name + " " + user.tenant.last_name  %> </h4></label><br/>
                              <%end%>
                              <%if(!rating.rating.blank?) %>
                                <label for="Rating"><h4>Rating: <%= rating.rating %> </h4></label><br/>
                              <%end%>
                              <%if(!rating.description.blank?) %>
                                <label for="Rating"><h4>Description: <%= rating.description %> </h4></label><br/>
                              <%end%>
                          </div>

                         <% end %>
                      </div>
                      <!-- The users that have been rated by this user will show here -->
                      <div class="form-group">
                        <% Rating.rated_users(@renter.user).each do |rating| %>
                          <div class="col-xs-6">
                                <% user = User.find(rating.user2_id) %>
                                <%if(!user.tenant.blank?) %>
                                <label for="Rating"><h4>Rated: <%= user.tenant.first_name + " " + user.tenant.last_name  %> </h4></label><br/>
                              <%end%>
                              <%if(!rating.rating.blank?) %>
                                <label for="Rating"><h4>Rating: <%= rating.rating %> </h4></label><br/>
                              <%end%>
                              <%if(!rating.description.blank?) %>
                                <label for="Rating"><h4>Description: <%= rating.description %> </h4></label><br/>
                              <%end%>
                          </div>

                         <% end %>
                      </div>
              </div>
              <!--If the user is this renters tenant it will show a rating form for the renter-->
<%if current_user.id.to_i == @renter.apartment.apartment_complex.tenant.user.id.to_i  %>             
  <%if (Rating.user_rated_by_user(current_user, @renter.user)).present?%>
  <% @rating = Rating.user_rated_by_user(current_user, @renter.user)%>
    <%= form_tag(edit_renter_rating_path, method: "get") do %>
  <input type="hidden" id="user1_id" name="user1_id" value="<%= current_user.id%>">
  <input type="hidden" id="user2_id" name="user2_id" value="<%= @renter.user.id%>">
  <input type="hidden" id="id" name="id" value="<%= @rating[0].id%>">

  <div class ="rating">
    <h4>Edit Rating: &nbsp</h4>
    <%if (@rating[0].rating.to_i == 1.to_i)%>
      <input type="radio" name="rating" id="star1" value=1 checked="checked"><label for="star1">1 &#9733;</label>
    <%else%>
      <input type="radio" name="rating" id="star1" value=1><label for="star1">1 &#9733;</label>
    <%end%>
    <%if (@rating[0].rating.to_i == 2.to_i)%>
      <input type="radio" name="rating" id="star2" value=2 checked="checked"><label for="star2">2 &#9733;</label>
    <%else%>
      <input type="radio" name="rating" id="star2" value=2><label for="star2">2 &#9733;</label>
    <%end%>
    <%if (@rating[0].rating.to_i == 3.to_i)%>
      <input type="radio" name="rating" id="star3" value=3 checked="checked"><label for="star3">3 &#9733;</label>
    <%else%>
      <input type="radio" name="rating" id="star3" value=3><label for="star3">3 &#9733;</label>
    <%end%>
    <%if (@rating[0].rating.to_i == 4.to_i)%>
      <input type="radio" name="rating" id="star4" value=4 checked="checked"><label for="star4">4 &#9733;</label>
    <%else%>
      <input type="radio" name="rating" id="star4" value=4><label for="star4">4 &#9733;</label>
    <%end%>
    <%if (@rating[0].rating.to_i == 5.to_i)%>
      <input type="radio" name="rating" id="star5" value=5 checked="checked"><label for="star5">5 &#9733;</label>
    <%else%>
      <input type="radio" name="rating" id="star5" value=5><label for="star5">5 &#9733;</label>
    <%end%>


    </div>
    <div class ="note">
    <h4>Write Note: &nbsp</h4>
    <textarea name="description" rows="7" cols="50"><%=@rating[0].description%></textarea>
    </div>
    <div class = "submit">
    <%= submit_tag("Submit") %>
    </div>
    <%end%>
  <% else %>
    </div>
  <%= form_tag(add_renter_rating_path, method: "get") do %>
  <input type="hidden" id="user1_id" name="user1_id" value="<%= current_user.id%>">
  <input type="hidden" id="user2_id" name="user2_id" value="<%= @renter.user.id%>">

  <div class ="rating">
    <h4>Rate Tenant: &nbsp</h4>
    <input type="radio" name="rating" id="star1" value=1><label for="star1">1 &#9733;</label>
    <input type="radio" name="rating" id="star2" value=2><label for="star2">2 &#9733;</label>
    <input type="radio" name="rating" id="star3" value=3><label for="star3">3 &#9733;</label>
    <input type="radio" name="rating" id="star4" value=4><label for="star4">4 &#9733;</label>
    <input type="radio" name="rating" id="star5" value=5><label for="star5">5 &#9733;</label>
  </div>
    <div class ="note">
    <h4>Write Note: &nbsp</h4>
    <textarea name="description" rows="7" cols="50"></textarea>
    </div>
    <div class = "submit">
    <%= submit_tag("Submit") %>
    </div>
    <%end%>
  <%end%>
<%end%>

              </div><!--/tab-pane-->
          </div><!--/tab-content-->

    <!--/row-->
</section>


  </body>
</header>
</html>
