 <%= stylesheet_link_tag "grayscale.css" %>

<body id="page-top">
<header class="masthead">

<div align = "center">
<section class="login-block">
    <div class="container">
      <br/>
      <br/>
      <br/>
      <br/>

      <h1>Sign up</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

    <%= f.fields_for :renters do |renter| %>
        <div class="field">
        <%= renter.label :apartmentID %>
        <%= renter.number_field :apartmentID, id: :renter_apartmentID %>
      </div>

      <div class="field">
        <%= renter.label :firstName %>
        <%= renter.text_field :firstName, id: :renter_firstName %>
      </div>

      <div class="field">
        <%= renter.label :lastName %>
        <%= renter.text_field :lastName, id: :renter_lastName %>
      </div>
    <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

<br/>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>
</section>
</div>
</header>
</body>