<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



    <!-- Custom styles for this template -->
    <%= stylesheet_link_tag "grayscale.css" %>
<style>
table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,  th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}
tr:nth-child(odd){background-color: lightgray;}

tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}</style>
  <head>
    <title>Renters & Ratings</title>
    <%= csrf_meta_tags %>
  </head>
  <body id="page-top">
  <header class="masthead">
<br>
<br>
<br>
<br>
<h1><%= @apartment_complex.apartment_complex_name %> </h1>
<br/>
<%= label :currently_leasing, "Currently Leasing" %>
<%=check_box_tag 'currently_leasing'%>
<table id="renters">
  <tbody>
    <th>Full Name</th>
    <th>Apartment Number</th>
    <th>Currently Leasing</th>

    <% @apartment_complex.renters.each do |r| %>
      <tr>
          
            <%= render "apartment_complex_renters_show", renter: r %>
          
      </tr>
    <% end %>
  </tbody>
</table>
</body>
</header>

<script type="text/javascript">
  var checkbox = document.getElementById('currently_leasing');
  var table = document.getElementById('renters');
  checkbox.onchange = function() {
     if(this.checked) {
        for (var i = 0, row; row = table.rows[i]; i++) {
          if (row.cells[2].innerHTML == "false") {
                row.style['display'] = 'none'
          }
        }
     } else {
      for (var i = 0, row; row = table.rows[i]; i++) {
          if (row.cells[2].innerHTML == "false") {
                row.style['display'] = 'table-row'
                row.style['width'] = '100%'
          }
        }
     }
  };
</script>
