<%= form_with(model: review, local: true) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :reviewerID %>
    <%= form.number_field :reviewerID, id: :review_reviewerID %>
  </div>

  <div class="field">
    <%= form.label :userID %>
    <%= form.number_field :userID, id: :review_userID %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.text_field :rating, id: :review_rating %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :review_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
