<!DOCTYPE html>
<%= javascript_include_tag "application" %>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



    <!-- Custom styles for this template -->
    <%= stylesheet_link_tag "grayscale.min.css" %>
<html>
  <head>
    <title>Renters & Ratings</title>
    <%= csrf_meta_tags %>
  </head>

  <!-- Navigation -->
    <nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="/">Renters & Ratings</a>
        <% if user_signed_in? %>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a class="navbar-brand">Logged in as <%= current_user.email %></a>
          <% end %>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>

          <li class ="nav-item">
            <a class ="nav-link" href="/renters">Search Renters</a>
          </li>
         
          <li class="nav-item">
            <%= link_to 'Edit Profile', edit_user_registration_path, :class => "nav-link" %>
          </li>

          <%if current_user.renter %>
            <li class="nav-item">
              <%= link_to 'View Profile', current_user.renter, :class => "nav-link" %>
            </li>
          <%end%>

          <%if current_user.tenant %>
            <li class="nav-item">
              <%= link_to 'View Profile', current_user.tenant, :class => "nav-link" %>
            </li>
          <%end%>
          
          <li class ="nav-item">
          <%= link_to "Log Out", destroy_user_session_path, method: 'delete', :class => "nav-link" %>
          </li


        </ul>

          <% else %>
          <li class ="nav-item">
          <%= link_to "Sign up", new_user_registration_path, :class => 'nav-link' %>
          </li>
          <li class ="nav-item">
          <%= link_to "Login", new_user_session_path, :class => 'nav-link' %>
          </li>		
          <% end %>
          <% if current_user.try(:admin?) %>
            <li class="nav-item">
              <a class="nav-link" href="/admin">Admin</a>
            </li>
          <% end %>


          </div>
      </div>
    </nav>

  <body>
    <%= yield %>
  </body>
</html>
